.restaurant-client{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 4vh;
    margin-right: 4vh;
    justify-content: center;
    align-content: center;
}

.restaurant-client-box{
    background-color: white;
    border-radius: 3vh;
    padding: 3vh;
}

.restaurant-client-infos{
    display: flex;
    flex-direction: line;
    width: 100%;
    height: 100%;
}

.restaurant-client-profile{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background-color: aqua;
}

.restaurant-client-box2{
    width: 75%;
    margin-left: 2vh;
}

.restaurant-client-name{
    color: var(--cinza-escuro);
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 2rem;
    margin-right: 1vh;
}

.restaurant-client-description{
    background-color: var(--cinza-maisclaro);
    padding: 1.5vh;
    border-radius: 2vh;
    height: 15vh;
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--cinza-claro);
    overflow: auto;    /* Esconde o conteúdo que ultrapassa as bordas */
    text-overflow: ellipsis; /* Adiciona os "..." no final do texto truncado */
    white-space: normal;/* Garante que o texto permaneça em uma única linha */
}

.restaurant-client-box3{
    display: flex;
    flex-direction: line;
    align-items: center;
    overflow: hidden;        /* Esconde o conteúdo que ultrapassa as bordas */
    text-overflow: ellipsis; /* Adiciona os "..." no final do texto truncado */
    white-space: nowrap;     /* Garante que o texto permaneça em uma única linha */
}

.restaurant-client-stars{
    width: 15vh;
    height: 3vh;
}

.restaurant-client-time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2vh;
    width: 12%;
}

.restaurant-client-timeopen{
    font-family: var(--fonte-principal);
    font-weight: 500;
    font-size: 1rem;
    color: var(--cinza-claro);
}

.restaurant-client-timeopen2{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 0.7rem;
    color: var(--cinza-claro);
}

.restaurant-client-box4{
    margin-top: 1vh;
    font-family: var(--fonte-principal);
    color: var(--cinza-escuro);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 4vh;
}

.restaurant-client-box5{
    display: flex;
    flex-direction: line;
    align-items: center;
}