.restaurant-status{
    display: flex;
    flex-direction: line;
    align-items: center;
    margin-top: 1vh;
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 1.3rem;
    color: var(--verde);
}
.restaurant-iconstatus{
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background-color: var(--verde);
    margin-right: 1vh;
}

.restaurant-status.closed {
  color: var(--vermelho-forte);
}

.restaurant-iconstatus.closed {
  background-color: var(--vermelho-forte);
}



