.car-itens-list {
  display: flex;
  flex-direction: column; /* Organiza os itens verticalmente */
  align-items: center;
  max-height: 95%;
  overflow-y: auto; /* Adiciona a barra de rolagem vertical quando o conteúdo exceder a altura */
}

.finish-space{
  display: flex;
  flex-direction: line;
  width: 90%;
  padding: 1.5vh;
  margin: 2vh;
  margin-bottom: 5vh;
  transition: 0.3s ease-in-out;
}

.car-list-value{
  width: 40%;
}

.car-list-text1{
  font-family: var(--fonte-principal);
  font-weight: 800;
  font-size: 1rem;
  color: var(--vermelho-forte);
}

.car-list-text2{
  font-family: var(--fonte-principal);
  font-weight: 800;
  font-size: 1rem;
  color: white;
}


.car-list-button{
  display: flex;
  justify-content: center;
  width: 60%;
}
