.counter-container {
    display: flex;
    align-items: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.counter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff7a7a;
    border: none;
    font-family: var(--fonte-principal);
    font-weight: 400;
    padding: 0.5rem;
    width: 5vh;
    height: 5vh;
    font-size: 1rem;
    border-radius: 1.5vh;
    color: white;
    cursor: pointer;
    user-select: none;
}

.counter-display {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid var(--cinza-claro);
    font-family: var(--fonte-principal);
    font-weight: 400;
    padding: 0.5rem;
    width: 5vh;
    height: 5vh;
    font-size: 1rem;
    border-radius: 1.5vh;
    margin-left: 1vh;
    margin-right: 1vh;
    color: var(--cinza-escuro);
    user-select: none;
}

.counter-text{
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 1rem;
    margin-left: 1vh;
    color: var(--vermelho-forte);
}
