.search-bar {
    display: flex;
    align-items: center;
    width: 70vh;
    height: 8vh;
    padding: 2vh;
    margin-right: 2vh;
    box-shadow: 0px 0px 15px #00000010;
    border-radius: 5vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    cursor: text;
    transition: 0.3s ease-in-out;
}

.search-bar:hover {
    background-color: var(--cinza-maisclaro);
}

.search-icon {
    width: 3vh;
    height: 3vh;
    margin-right: 2vh;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-family: var(--fonte-principal);
    color: var(--cinza-claro);
    font-weight: 700;
    font-size: 1rem;
}
